body {
   font-family: var(--font-family);
   background-color: var(--color-noble-black-600);
 }

 a {
    text-decoration: none;
 }

  a,
 button,
 input,
 svg * {
    transition-duration: var(--transition-duration);
 }