 .container {
    max-width: calc(var(--container-width) + var(--paddings-12) * 2);
    padding: var(--paddings-12);
 }

 .section {
  margin-bottom: var(--paddings-12);
 }

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}