:root {
    --font-family: 'Plus Jakarta Sans', sans-serif;
    --color-noble-black-100: #E8E9E9;
    --color-noble-black-200: #CDCECF;
    --color-noble-black-300: #9B9C9E;
    --color-noble-black-400: #686B6E;
    --color-noble-black-500: #363A3D;
    --color-noble-black-600: #1A1D21;
    --color-noble-black-700: #131619;
    --color-noble-black-800: #0D0F10;
    --color-noble-black-900: #060708;

    --transition-duration: 0.3s;
 }